/* global settings */
body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

/* hero splash for landing page */
.welcome-hero {
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    background: url("hero-log.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color: white;
}

/* buttons */
.button {
    padding: 1em;
    margin: 1em;
    color: white;
    text-decoration: none;
    border: none;
}
button {
    padding: 1em;
    margin: 1em;
    color: white;
    text-decoration: none;
    border: none;
}
.navbutton {
    margin: 0.5em 0;
}
.button > a:link, .button > a:visited {
    text-decoration: none;
    color: white;
}

/* colors / fonts */
.accent {
    background-color: #6cd17b;
    color: white;
}
.daccent {
    background-color: #36ab47;
    color: white;
}
.daccent:hover{
    background-color: #30973f;
    color: white;
}
.fancy {
    font-family: "Montserrat";
}
.dark {
    background-color: #1d1f21;
    color: white;
}

/* layout classes */
.box {
    padding: 1em;
    display: block;
    
}
.wrap {
    margin: 0 auto;
    padding: 1em 2em;
    max-width: 1024px;
    margin: 2em em;
}
main {
}

/* header & navigation */
header, footer {
    padding: 0;
}
header h1 {
    margin: 0;
    text-align: center;
}
nav ul {
    padding: 0;
}
nav ul li {
    list-style-type: none;
    margin: 0.5em 0;
    padding: 1em;
    /* daccent color */
    background-color: #36ab47;
    color: white;
}

/* topics */
.topic {
    background-color: #ddd;
    min-height: 8em;
    padding: 1em;
    margin: 1em 0;
}
.profimg {
    height: 6em;
    width: 6em;
    margin: 0 auto;
    display: block;
    border: 0.2em solid white;
    overflow: hidden;
    object-fit: cover;
}
.topictitle{
    padding: 1em 0 0 0;
}

/* form */
label {
    display: block;
}
input {
    font-family: "Montserrat";  
    margin: 0.5em 0;
    padding: 0.5em;
    width: 80%;
    border: 0;
}

@media screen and (min-width: 640px) {
    .profimg {
        float: left;
        margin: 0.5em;
    }
    h1 {
        margin: 0;
    }
    nav {
    }
    .navbutton {
        background-color: #6cd17b;
    }
    nav ul li {
        display: inline;
    }
}