/* global settings */
body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    background-color: #1d1f21;
}
main {
    background-color: white;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
nav, nav ul {
    display: inline;
}
/* hero splash for landing page */
.welcome-hero {
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    background: url("img/hero-log.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color: white;
}

/* buttons */
.button {
    margin: 1em 0;
    padding: 1em;
    color: white;
    text-decoration: none;
    border: none;
}
button {
    padding: 1em;
    margin: 1em;
    color: white;
    text-decoration: none;
    border: none;
}
.navbutton {
    margin: 0.5em 0;
}
.button > a:link, .button > a:visited {
    text-decoration: none;
    color: white;
}

/* colors / fonts */
.accent {
    background-color: #6cd17b;
    color: white;
}
.red {
    background-color: #d16c6c;
    color: white;
}
.daccent {
    background-color: #36ab47;
    color: white;
}
.daccent:hover{
    background-color: #30973f;
    color: white;
}
.fancy {
    font-family: "Montserrat";
}
.dark {
    background-color: #1d1f21;
    color: white;
}

/* layout classes */
.loggedin {
    text-align: center;
    width: 100%;
}
.herobox {
    padding: 1em;
    display: block;
    
}
.wrap {
    margin: 0 auto;
    padding: 1em 2em;
    max-width: 1024px;
    margin: 2em em;
}
main {
}

/* header & navigation */
header, footer {
    padding: 0;
}
header h1 {
    margin: 0;
    text-align: center;
}
nav ul {
    padding: 0;
}
nav ul li {
    list-style-type: none;
    margin: 0.5em 0;
    padding: 1em;
    /* daccent color */
    background-color: #36ab47;
    color: white;
    text-align: center;
}

/* basic page elements */
.loggedin {
    margin: 1em 0;
}
.pagetitle {
    padding: 0.5em 0;
}
.headbutton {
    margin: 1em 0;
}

/* topics */
.topic, .comment, .profile {
    background-color: #ddd;
    min-height: 8em;
    padding: 1em;
    margin: 1em 0;
}
.content {
    margin: 0.5em;
    line-height: 1.5;
    font-size: 125%;
}
.topic a {
    color: #407d49;
}
.profimg {
    height: 6em;
    width: 6em;
    margin: 0 auto;
    display: block;
    border: 0.2em solid white;
    overflow: hidden;
    object-fit: cover;
}
.topictitle{
    padding: 1em 0 0 0;
}

/* tables */
td {
  padding: 1em;
}

/* form */
label {
    display: block;
}
input {
    font-family: "Montserrat";  
    margin: 0.5em 0;
    padding: 0.5em;
    width: 80%;
}
textarea {
    width: 100%;
    max-width: 830px;
}
.modal input {
    border: 0;
}

@media screen and (min-width: 640px) {
    .loggedin {
        width: auto;
        display: block;
        margin: 0;
    }
    .clear {
        clear: both;
    }
    .right, .left{
        display: inline-block;
    }
    .right {
        float: right;
    }
    .left {
        float: left;
    }
    .profimg {
        float: left;
        margin: 0.5em;
    }
    h1 {
        margin: 0;
    }
    nav {
        margin: 0 auto;
    }
    .navbutton {
        background-color: #6cd17b;
    }
    nav ul li {
        display: inline;
    }
}
