/* global settings */
body {
    margin: 0 auto;
    font-family: sans-serif;
}

/* hero splash for index page */
.welcome-hero {
    margin: 0;
    min-height: 100vh;
    min-width: 100%;
    background: url("hero-log.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    color: white;
}

/* buttons */
.button {
    padding: 1em;
    margin: 1em;
    color: white;
    text-decoration: none;
    border: none;
}
button {
    padding: 1em;
    margin: 1em;
    color: white;
    text-decoration: none;
    border: none;
}
.button > a:link, .button > a:visited {
    text-decoration: none;
    color: white;
}

/* colors */
.accent {
    background-color: #6cd17b;
    color: white;
}
.daccent {
    background-color: #36ab47;
    color: white;
}
.daccent:hover{
    background-color: #30973f;
    color: white;
}

/* layout classes */
.box {
    padding: 1em;
    display: block;
    
}
.box a {
    
}
.fancy{
    font-family: "Montserrat";
}

/* form */
label {
    display: block;
}
input {
    font-family: "Montserrat";  
    margin: 0.5em 0;
    padding: 0.5em;
    width: 80%;
    border: 0;
}